html{
    @include scroll-effect;
}
html body{
    margin: 0;
    padding: 0;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    
}
nav{
    width: 20%;
    background: linear-gradient(to bottom,$primary-color,$other-color_2);
    position: fixed;
    margin:0 8px 8px 0;
    height: 50rem;
    
    .Profil{
        margin-left: 17px;
        img{
            @include profil_size;
        }
    }
    .section .list{
        @include list_nav;
        a{
            text-decoration: none;
            color: #B39EB5
        }
    }
}
.element{
    width: 80%;
    padding: 30px;
    background-color: $secondary-color;
    margin-left: 20%;
    section{
        @include box;
        height: 100vh;
        h2{
            @include title_section;
        }
        p{
            @include text;
        }
    }
}
